.price-main-container.big-screen {
  display: block;
}
.price-main-container.small-screen {
  display: none;
}
.price-main-container {
  max-width: 1200px;
}
.price-table {
  margin: 0 30px;
  background-color: #f7f7fa;
  border-radius: 20px;
  padding: 20px 20px 70px 20px;
}
.table > :not(caption) > * > * {
  padding: 13px !important;
}
table {
  width: 100%;
  text-align: left;
  border-spacing: 0;
  border-collapse: collapse;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
th,
td {
  font-family: inherit;
  font-size: 0.95em;
  line-height: 1.45;
  vertical-align: middle;
}
th {
  font-weight: 600;
}
.colgroup:nth-child(1) {
  width: 28%;
}
.colgroup:nth-child(2) {
  width: 18%;
  background-color: white !important;
}
.colgroup:nth-child(3) {
  width: 18%;
  border: 3px solid #e0810d;
  border-radius: 20px;
  background-color: var(--pre) !important;
}
/* Tablehead */
thead th {
  text-align: center;
  font-weight: 400;
}
thead th:nth-child(3) {
  background-color: var(--pre);
}
thead th h2 {
  font-weight: bold;
  line-height: 1.2;
}
/* Tablebody */
tbody td {
  text-align: center;
}
thead th,
tbody th,
tbody td {
  border-bottom: 1px solid #ebebeb88;
  background-color: transparent !important;
  background: transparent;
  /* padding: 25px; */
}
/* tbody td:nth-child(3) {
  background-color: var(--pre) !important;
} */
/* price image */
.price-main-container .sampling-image {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  justify-items: center;
  margin-top: -50px;
}
.price-main-container .sampling-image div {
  max-width: 170px;
}
.price-main-container .sampling-image img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: contain;
  border: 10px solid white;
}
.price-main-container .sampling-image p {
  padding: 0;
  margin: 0;
  text-align: center;
}
.price-main-container .sampling-image .price-title {
  font-weight: 800;
  font-size: 15px;
}
.price-main-container .sampling-image .price-desc {
  font-weight: 500;
  font-size: 13px;
}
@media (max-width: 800px) {
  .price-main-container.big-screen {
    display: none;
  }
  .price-main-container.small-screen {
    display: block;
  }
}
.price-offerings {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.price-offerings.open {
  max-height: 1000px; /* Adjust based on the expected height */
  transition: max-height 0.3s ease-in;
}
.bg-mobile-offering {
  background-color: #f7f7fa;
}

/* ====================================plans=================================== */

#price-plan .info-text {
  font-size: 1.2rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

/* Table */
#price-plan .price-table {
  background-color: var(--theme-color);
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid var(--theme-color);
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.263); */
}

#price-plan .plan-header {
  color: #000000;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  /* padding: 15px 10px; */
  transition: background-color 0.3s;
}

#price-plan .plan-header.active {
  /* background-color: #0056b3; */
  background-color: var(--theme-color) !important;
  color: #ffffff;
}

#price-plan .plan-header:hover {
  background-color: var(--theme-color) !important;
  color: #ffffff;
}

#price-plan .plan-detail {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  margin: 0;
}

#price-plan .plan-price {
  font-size: 1.2rem;
  color: #555;
  margin: 0;
  padding: 10px 0;
}

#price-plan tbody {
  background-color: var(--pre);
}

#price-plan tbody tr {
  border-top: 1px solid #dee2e6;
}

#price-plan tbody td {
  text-align: center;
  padding: 15px 10px;
}

/* Responsive */
@media (max-width: 768px) {
  #price-plan .price-table {
    font-size: 0.9rem;
  }

  #price-plan .plan-header {
    font-size: 1rem;
  }

  #price-plan .plan-detail,
  #price-plan .plan-price {
    font-size: 0.9rem;
  }
}
