.class-section {
  position: relative;
  width: 100%;
  min-height: 450px;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}
.class-section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/class/class-bg.jpg?cache-control=max-age=31536000") center/cover no-repeat;
  z-index: 1;
}
.class-section:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255 255 255 / 81%);
  z-index: 2;
}
.class-section .class-content {
  position: relative;
  z-index: 3;
  min-height: 100vh;
}
.content-12 {
  font-size: 14px;
  color: #000000;
}
.content-12 ul {
  padding-left: 20px;
}
.content-12 ul li {
  position: relative;
  padding-left: 20px;
}
.content-12 ul li::before {
  content: "✔";
  color: #28a745;
  position: absolute;
  left: 0;
  font-weight: 600;
}
.content-12 h5,
.content-12 h4,
.content-12 h3 {
  color: var(--theme-color);
}
/* ================================================================= */
.pricing-class-section {
  padding: 50px 0 0 0;
}
.pricing-class-title {
  margin-bottom: 30px;
}
.pricing-class-row {
  align-items: center;
  justify-content: center;
}
.pricing-class-col {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.pricing-class-item {
  display: flex;
  gap: 20px;
}
.pricing-class-img-section {
  background-size: contain;
  background-repeat: no-repeat;
  padding: 50px;
}
.pricing-class-item-title {
  font-size: 1rem;
  font-weight: bold;
}
.pricing-class-item-text {
  color: #b8b8b8;
  font-size: 0.8rem;
}
.pricing-class-video {
  border-radius: 27px;
}
@media (max-width: 768px) {
  .pricing-class-img-section {
    display: none;
  }
}
/* =======================free class============================ */
#free-class h1 {
  font-weight: 400;
  text-align: center;
}
#free-class .free-class-image-background {
  width: 248px;
  height: 360px;
  background-color: rgb(252, 244, 228);
  border-radius: 1.5rem;
  transform-origin: left bottom;
  transition: all 0.5s ease 0s;
  position: absolute;
}
#free-class .free-class-image {
  position: absolute;
  transform-origin: left bottom;
  transition: all 0.3s ease 0s;
}
.free-class-image {
  width: 248px;
  height: 360px;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}
@media (max-width: 768px) {
  #free-class .row {
    flex-direction: column-reverse;
  }
}
/* =======================time-line======================= */
.timeline-dot {
  background-color: #eaeaea;
  padding: 4px 7px !important;
  border-radius: 50%;
  color: #464646;
}
/* =============================Partner======================== */
#class-partner {
  background-image: url("/class/list/partner.webp");
  width: 100% !important;
  padding: 50px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
/* ===========================Award================================ */
#class-award {
  background-image: url("/class/award-bg.png");
  width: 100%;
  padding: 50px 0;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background-position: top center;
}
#class-award .class-award-image {
  position: absolute;
  width: 80px;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}
#class-award .class-award-content {
  position: relative;
  z-index: 1;
}
#class-award .class-award-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}
#class-award .class-award-description {
  color: #fc6602;
  font-size: 1.2rem;
}
#class-award .container {
  position: relative;
  z-index: 1;
}
.award-card {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease;
}
.award-card:hover {
  transform: translateY(-5px);
}
.award-card img {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 10px;
  max-width: 60px;
  height: auto;
  object-fit: contain;
}
.award-card .award-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
}
.award-card .award-text {
  font-size: 1rem;
  color: #555555;
  margin-top: 10px;
}
