@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Volkhov:wght@700&display=swap");
@import "bootstrap/dist/css/bootstrap.min.css";
@import "react-loading-skeleton/dist/skeleton.css";

* {
  margin: 0;
  padding: 0;
}
:root {
  --theme-color: #1f2f49;
  --white: white;
  --yellow: rgb(255, 187, 0);
  --pre: #fff7db;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f8fdff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Volkhov", serif;
}
section {
  background-size: cover;
  background-position: center;
}
/* Bold text style */
.bold-text {
  font-weight: 900;
}

a {
  text-decoration: none !important;
}

.theme-btn {
  position: relative;
  padding: 10px 20px;
  background-color: var(--theme-color) !important;
  color: var(--white);
  border: 2px solid transparent;
  cursor: pointer;
  transition: color 0.3s;
  color: white !important;
}
.theme-btn::before,
.theme-btn::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background-color: var(--theme-color) !important;
  transition: width 0.3s;
}
.theme-btn::before {
  top: 0;
  left: 0;
}
.theme-btn::after {
  bottom: 0;
  right: 0;
}
.theme-btn:hover::before,
.theme-btn:hover::after {
  width: 100%;
}
.theme-btn:hover,
.theme-btn:active {
  color: var(--theme-color) !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white !important;
}
.theme-btn::before,
.theme-btn::after {
  transition: width 01s ease;
}
.theme-color {
  color: var(--theme-color);
}
h1 span {
  color: wheat;
}

/* navbar */
.navbar {
  background-color: #ffffffb3;
  z-index: 1000;
}
.backdrop-nav {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.main-content {
  margin-top: 85px;
}

/* ------------------------------------------- */
/*                  Hero Starts                */
/* ------------------------------------------- */
.top {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='487' height='243.5' viewBox='0 0 1600 800'%3E%3Cpath fill='%23fdb9a0' d='M1102.5 734.8c2.5-1.2 24.8-8.6 25.6-7.5.5.7-3.9 23.8-4.6 24.5-.2.3-16-12.3-21-17zm123.8-505.7c0-.1-4.9-9.4-7-14.2-.1-.3-.3-1.1-.4-1.6-.1-.4-.3-.7-.6-.9-.3-.2-.6-.1-.8.1l-13.1 12.3c-.2.2-.3.5-.4.8 0 .3 0 .7.2 1 .1.1 1.4 2.5 2.1 3.6 2.4 3.7 6.5 12.1 6.5 12.2.2.3.4.5.7.6.3 0 .5-.1.7-.3 0 0 1.8-2.5 2.7-3.6 1.5-1.6 3-3.2 4.6-4.7 1.2-1.2 1.6-1.4 2.1-1.6.5-.3 1.1-.5 2.5-1.9.4-.5.5-1.3.2-1.8zM33 770.3c0-.7-.5-1.2-1.2-1.2-.1 0-.3 0-.4.1-1.6.2-14.3.1-22.2 0-.3 0-.6.1-.9.4-.2.2-.4.5-.4.9 0 .2 0 4.9.1 5.9l.4 13.6c0 .3.2.6.4.9.2.2.5.3.8.3h.1c7.3-.7 14.7-.9 22-.6.3 0 .7-.1.9-.3.2-.2.4-.6.4-.9-.1-6.1-.1-13.2 0-19.1z' style='&%2310;'/%3E%3Cpath fill='%23fee272' d='M171.1 383.4c1.3-2.5 14.3-22 15.6-21.6.8.3 11.5 21.2 11.5 22.1-.1.3-20.3.1-27.1-.5zm425.3 328.4c-.1-.1-6.7-8.2-9.7-12.5-.2-.3-.5-1-.7-1.5-.2-.4-.4-.7-.7-.8-.3-.1-.6 0-.8.3L574 712c-.2.2-.2.5-.2.9 0 .3.2.7.4.9.1.1 1.8 2.2 2.8 3.1 3.1 3.1 8.8 10.5 8.9 10.6.2.3.5.4.8.4.3 0 .5-.2.6-.5 0 0 1.2-2.8 2-4.1 1.1-1.9 2.3-3.7 3.5-5.5.9-1.4 1.3-1.7 1.7-2 .5-.4 1-.7 2.1-2.4.3-.3.2-1.1-.2-1.6zm131.1-531.9c.6.2 1.3-.2 1.4-.8v-.4c.2-1.4 2.8-12.6 4.5-19.5.1-.3 0-.6-.2-.8-.2-.3-.5-.4-.8-.5-.2 0-4.7-1.1-5.7-1.3l-13.4-2.7c-.3-.1-.7 0-.9.2-.2.2-.4.4-.5.6v.1c-.8 6.5-2.2 13.1-3.9 19.4-.1.3 0 .6.2.9.2.3.5.4.8.5 5.8 1.3 12.7 2.9 18.5 4.3zm1-1.8c-.1-.1-.2-.2-.4-.2.2 0 .3.1.4.2z'/%3E%3Cg fill='%23eac5e7'%3E%3Cpath d='M699.6 472.7c-1.5 0-2.8-.8-3.5-2.3-.8-1.9 0-4.2 1.9-5 3.7-1.6 6.8-4.7 8.4-8.5 1.6-3.8 1.7-8.1.2-11.9-.3-.9-.8-1.8-1.2-2.8-.8-1.7-1.8-3.7-2.3-5.9-.9-4.1-.2-8.6 2-12.8 1.7-3.1 4.1-6.1 7.6-9.1 1.6-1.4 4-1.2 5.3.4 1.4 1.6 1.2 4-.4 5.3-2.8 2.5-4.7 4.7-5.9 7-1.4 2.6-1.9 5.3-1.3 7.6.3 1.4 1 2.8 1.7 4.3l1.5 3.3c2.1 5.6 2 12-.3 17.6-2.3 5.5-6.8 10.1-12.3 12.5-.4.2-.9.3-1.4.3zm40.8-51.3c1.5-.2 3 .5 3.8 1.9 1.1 1.8.4 4.2-1.4 5.3-3.7 2.1-6.4 5.6-7.6 9.5-1.2 4-.8 8.4 1.1 12.1.4.9 1 1.7 1.6 2.7 1 1.7 2.2 3.5 3 5.7 1.4 4 1.2 8.7-.6 13.2-1.4 3.4-3.5 6.6-6.8 10.1-1.5 1.6-3.9 1.7-5.5.2-1.6-1.4-1.7-3.9-.2-5.4 2.6-2.8 4.3-5.3 5.3-7.7 1.1-2.8 1.3-5.6.5-7.9-.5-1.3-1.3-2.7-2.2-4.1-.6-1-1.3-2.1-1.9-3.2-2.8-5.4-3.4-11.9-1.7-17.8 1.8-5.9 5.8-11 11.2-14 .4-.4.9-.6 1.4-.6zM261.3 590.9c5.7 6.8 9 15.7 9.4 22.4.5 7.3-2.4 16.4-10.2 20.4-3 1.5-6.7 2.2-11.2 2.2-7.9-.1-12.9-2.9-15.4-8.4-2.1-4.7-2.3-11.4 1.8-15.9 3.2-3.5 7.8-4.1 11.2-1.6 1.2.9 1.5 2.7.6 3.9-.9 1.2-2.7 1.5-3.9.6-1.8-1.3-3.6.6-3.8.8-2.4 2.6-2.1 7-.8 9.9 1.5 3.4 4.7 5 10.4 5.1 3.6 0 6.4-.5 8.6-1.6 4.7-2.4 7.7-8.6 7.2-15-.5-7.3-5.3-18.2-13-23.9-4.2-3.1-8.5-4.1-12.9-3.1-3.1.7-6.2 2.4-9.7 5-6.6 5.1-11.7 11.8-14.2 19-2.7 7.7-2.1 15.8 1.9 23.9.7 1.4.1 3.1-1.3 3.7-1.4.7-3.1.1-3.7-1.3-4.6-9.4-5.4-19.2-2.2-28.2 2.9-8.2 8.6-15.9 16.1-21.6 4.1-3.1 8-5.1 11.8-6 6-1.4 12 0 17.5 4 2.1 1.7 4.1 3.6 5.8 5.7z'/%3E%3Ccircle cx='1013.7' cy='153.9' r='7.1'/%3E%3Ccircle cx='1024.3' cy='132.1' r='7.1'/%3E%3Ccircle cx='1037.3' cy='148.9' r='7.1'/%3E%3Cpath d='M1508.7 297.2c-4.8-5.4-9.7-10.8-14.8-16.2 5.6-5.6 11.1-11.5 15.6-18.2 1.2-1.7.7-4.1-1-5.2-1.7-1.2-4.1-.7-5.2 1-4.2 6.2-9.1 11.6-14.5 16.9-4.8-5-9.7-10-14.7-14.9-1.5-1.5-3.9-1.5-5.3 0-1.5 1.5-1.5 3.9 0 5.3 4.9 4.8 9.7 9.8 14.5 14.8-1.1 1.1-2.3 2.2-3.5 3.2-4.1 3.8-8.4 7.8-12.4 12-1.4 1.5-1.4 3.8 0 5.3 1.5 1.4 3.9 1.4 5.3-.1 3.9-4 8.1-7.9 12.1-11.7 1.2-1.1 2.3-2.2 3.5-3.3 4.9 5.3 9.8 10.6 14.6 15.9l.2.2c1.4 1.4 3.7 1.5 5.2.2 1.7-1.2 1.8-3.6.4-5.2zM327.6 248.6l-.4-2.6c-1.5-11.1-2.2-23.2-2.3-37 0-5.5 0-11.5.2-18.5v-2.3c0-5 0-11.2 3.9-13.5 2.2-1.3 5.1-1 8.5.9 5.7 3.1 13.2 8.7 17.5 14.9 5.5 7.8 7.3 16.9 5 25.7-3.2 12.3-15 31-30 32.1l-2.4.3zm4.5-69.4c-.2 0-.3 0-.4.1-.1.1-.7.5-1.1 2.7-.3 1.9-.3 4.2-.3 6.3v2.4c-.2 6.9-.2 12.8-.2 18.3.1 12.5.7 23.5 2 33.7 11-2.7 20.4-18.1 23-27.8 1.9-7.2.4-14.8-4.2-21.3-3.9-5.5-10.9-10.6-15.9-13.3-1.4-.8-2.4-1.1-2.9-1.1zM516.3 60.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6-.2.6-.7 1-1.2 1zm-10.2 9.7c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3s1.3.5 1.3 1.2c.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6 0 .1-.2.1-.3.1zm-12-6.1c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3-.2.2-.5.3-.8.3zm6.4-9.1c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7-.1.1-.3.1-.5.1zm6.2-.3c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6-.2.2-.5.4-.9.4zm522.6 327.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6-.2.6-.7 1-1.2 1zm-10.2 9.7c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3s1.3.5 1.3 1.2c.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6 0 .1-.2.1-.3.1zm-12-6.1c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3-.2.2-.5.3-.8.3zm6.4-9.1c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7-.1.1-.3.1-.5.1zm6.2-.3c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6-.2.2-.5.4-.9.4zm310 196.4c-1.4 0-2.9-.2-4.5-.7-8.4-2.7-16.6-12.7-18.7-20-.4-1.4-.7-2.9-.9-4.4-8.1 3.3-15.5 10.6-15.4 21 0 1.5-1.2 2.7-2.7 2.8-1.5 0-2.7-1.2-2.7-2.7-.1-6.7 2.4-12.9 7-18 3.6-4 8.4-7.1 13.7-8.8.5-6.5 3.1-12.9 7.4-17.4 7-7.4 18.2-8.9 27.3-10.1l.7-.1c1.5-.2 2.9.9 3.1 2.3.2 1.5-.9 2.9-2.3 3.1l-.7.1c-8.6 1.2-18.4 2.5-24 8.4-3 3.2-5 7.7-5.7 12.4 7.9-1 17.7 1.3 24.3 5.7 4.3 2.9 7.1 7.8 7.2 12.7.2 4.3-1.7 8.3-5.2 11.1-2.4 1.6-5 2.6-7.9 2.6zm-18.7-26.7c.1 1.5.4 3 .8 4.4 1.7 5.8 8.7 14.2 15.1 16.3 2.8.9 5.1.5 7.2-1.1 2.7-2.1 3.2-4.8 3.1-6.6-.1-3.2-2-6.4-4.8-8.3-5.7-3.9-14.7-5.8-21.4-4.7z'/%3E%3C/g%3E%3C/svg%3E");
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

@media (min-width: 792px) {
  .top {
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* ------------------------------------------- */
/*                  Hero Ends                  */
/* ------------------------------------------- */

/* ------------------------------------------- */
/*                  Hero Starts                */
/* ------------------------------------------- */
.hero-tag-image {
  /* filter: hue-rotate(35deg) brightness(2); yellow */
  filter: hue-rotate(35deg) brightness(2.2);
}
.hero-tag-text {
  cursor: pointer;
  /* filter: hue-rotate(180deg) brightness(0.5); */
  color: white;
}
.hero-tag-text:hover {
  cursor: pointer;
  /* filter: hue-rotate(180deg) brightness(0.5); */
  color: wheat;
}
/* ------------------------------------------- */
/*                  Hero Ends                  */
/* ------------------------------------------- */

/* ------------------------------------------- */
/*          Home Classes Starts                */
/* ------------------------------------------- */
.classes-container {
  text-align: left;
  margin-top: 50px;
}
.classes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 768px) {
  .classes-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.class-card {
  position: relative;
  cursor: pointer;
}
.image-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
.class-image {
  width: 100%;
  transition: transform 0.3s ease;
}
.overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease, top 0.3s ease;
}
.class-card:hover .overlay {
  opacity: 1;
  top: 0;
}
.link-icon {
  color: white;
  font-size: 24px;
}
/* ------------------------------------------- */
/*          Home Classes Ends                  */
/* ------------------------------------------- */

/* ------------------------------------------- */
/*               Book Starts                   */
/* ------------------------------------------- */
.input-container {
  display: flex;
}
.country-select {
  flex: 1;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.phone-input {
  flex: 3;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
/* ------------------------------------------- */
/*               Book Ends                     */
/* ------------------------------------------- */

/* ------------------------------------------- */
/*             Footer Starts                   */
/* ------------------------------------------- */
.social-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-buttons .btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  border: none;
  color: #333;
  padding: 10px 20px;
  transition: all 0.3s ease;
  overflow: hidden;
  border-radius: 0;
}
.social-buttons .btn span {
  opacity: 0;
  visibility: hidden;
  max-width: 0;
  transition: max-width 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
  white-space: nowrap;
}
.social-buttons .btn:hover span {
  opacity: 1;
  visibility: visible;
  max-width: 100px;
  margin-left: 10px;
}
.social-buttons .btn.facebook {
  /* background-color: #3b5998; */
  background-color: #1877f2;
  color: white;
}
.social-buttons .btn.instagram {
  background: linear-gradient(45deg, #833ab4, #fd1d1d, #fcb045);
  color: white;
}
.social-buttons .btn.twitter {
  background-color: black;
  color: white;
}
.social-buttons .btn.linkedin {
  background-color: #0077b5;
  color: white;
}
.social-buttons .btn.youtube {
  background-color: #ff0000;
  color: white;
}
.social-buttons .btn:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.social-buttons .btn:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* ------------------------------------------- */
/*                Book Ends                    */
/* ------------------------------------------- */

/* ------------------------------------------- */
/*            Float button Starts              */
/* ------------------------------------------- */
.custom-float-button-wrapper {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.custom-float-button {
  height: 40px;
  width: 40px;
  background-color: #25d366;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 9px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.6s ease, height 0.6s ease, width 0.6s ease;
  padding: 24px;
  border-radius: 50%;
  overflow: hidden;
}
.custom-float-button.active {
  height: 40px;
  width: max-content;
  display: flex;
  gap: 10px;
  border-radius: 50px;
}
.custom-float-button span {
  opacity: 1;
  transition: opacity 5s ease;
}
.custom-float-button.no-span span {
  opacity: 0;
}
.custom-float-button:hover {
  height: 40px;
  width: auto;
  display: flex;
  gap: 10px;
  border-radius: 50px;
  span {
    opacity: 1;
    transition: opacity 5s ease;
    display: block;
  }
}
.text-display {
  display: none;
}
.chat-bubble {
  display: none;
  position: absolute;
  bottom: 80px;
  left: 10px;
  background-color: #ffffff;
  color: #333333;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  white-space: nowrap;
}
.custom-float-button-wrapper:hover .chat-bubble {
  display: block;
}
/* ------------------------------------------- */
/*             Float button Ends               */
/* ------------------------------------------- */

/* ------------------------------------------- */
/*         Welcome container Starts            */
/* ------------------------------------------- */
.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.loading-container img {
  width: 100%;
  max-width: 400px;
}

.rainbow-text {
  font-size: 2em;
  font-weight: bold;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: animateRainbow 0s linear infinite, fadeIn 0.5s ease-out;
}

@keyframes animateRainbow {
  0% {
    background-position: -100%;
  }
  100% {
    background-position: 200%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*-------------------------------------------- */
/*          Welcome container Ends             */
/* ------------------------------------------- */

/* =============================foter delete it later================ */

/* footer section*/
.footer_section {
  background-color: var(--theme-color);
  color: #ffffff;
  padding: 0px 0 40px 0;
  /* text-align: center; */
}

.footer_section h4 {
  font-size: 28px;
}

.footer_section h4,
.footer_section .footer-logo {
  font-weight: 600;
  margin-bottom: 20px;
}

.footer_section p {
  color: #dbdbdb;
}

.footer_section .footer-col {
  margin-bottom: 30px;
}

.footer_section .footer_contact .contact_link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer_section .footer_contact .contact_link_box a {
  margin: 5px 0;
  color: #ffffff;
}

.footer_section .footer_contact .contact_link_box a i {
  margin-right: 5px;
}

.footer_section .footer_contact .contact_link_box a:hover {
  color: #ffbe33;
}

.footer_section .footer-logo {
  display: block;
  font-weight: bold;
  font-size: 38px;
  line-height: 1;
  color: #ffffff;
}

.footer_section .footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.footer_section .footer_social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #222831;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #ffffff;
  border-radius: 100%;
  margin: 0 2.5px;
  font-size: 18px;
}

.footer_section .footer_social a:hover {
  color: #ffbe33;
}

.footer_section .footer-info {
  text-align: center;
}

.footer_section .footer-info p {
  color: #ffffff;
  margin: 0;
}

.footer_section .footer-info p a {
  color: inherit;
}

.banner-features {
  padding: 40px;
  background: transparent;
  position: relative;
  z-index: 9;
  color: white;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.banner-show {
  margin-top: -200px;
}

.nav-top-icon {
  display: flex;
}

@media (max-width: 992px) {
  .banner-features {
    display: none;
  }
  .banner-show {
    margin-top: 0px;
  }
  .nav-top-icon {
    display: none;
  }
}

.rainbow-text-nav {
  /* font-size: 20px; */
  background: linear-gradient(
    90deg,
    red,
    orange,
    rgb(108, 108, 1),
    rgb(0, 211, 0),
    rgb(47, 47, 255),
    rgb(147, 11, 244),
    violet
  );
  background-size: 400%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: moveGradient 5s linear infinite;
  color: gray;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* ------------------------------------------ */
/*               Contact Section       */
/* ------------------------------------------ */

#contact-header-content {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--pre);
  text-align: center;
}

#contact-header-content h1 {
  color: white;
}

.social-links-contact {
  padding: 20px;
  border-radius: 10px;
}

.social-link {
  height: 70px;
  width: 70px;
  background: linear-gradient(45deg, var(--theme-color), #2575fc);
  font-size: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.social-link:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 15px rgb(0, 34, 128); /* Apply a green glow */
}

.social-link-content {
  margin-left: 20px;
  flex: 1;
}

.social-link-content p {
  margin: 0;
  padding: 0;
}

/* ------------------------------------------ */
/*               About Section       */
/* ------------------------------------------ */

#about-us {
  min-height: 450px;
  background: linear-gradient(90deg, #001731, #150022);
}

#about-us .about-us-left-image {
  position: absolute;
  top: 100px;
  left: 30px;
  z-index: 1;
}

#about-us .about-us-right-image {
  position: absolute;
  top: 120px;
  right: 30px;
  z-index: 1;
}

.about-map-image {
  filter: hue-rotate(180deg) brightness(0.5);
}

#about-header-content {
  position: relative;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: wheat;
  text-align: center;
  z-index: 2;
}

#about-header-content h1 {
  color: white;
}

.about-us-count-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

@media (max-width: 992px) {
  .about-us-count-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 576px) {
  .about-us-count-container {
    grid-template-columns: 1fr 1fr;
  }
}

/* ------------------------------------------ */
/*               Payment Section       */
/* ------------------------------------------ */

/* Global Styles */
main {
  min-height: calc(100vh - 107px);
}
main .inner-container {
  /* max-width: 800px; */
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
table.invoice {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}
table.invoice .num {
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 0.8em;
}
table.invoice tr,
table.invoice td {
  background: #fff;
  text-align: left;
  font-weight: 400;
  color: #322d28;
  /* border: 1px solid #ddd; */
  padding: 8px;
}
table.invoice tr.header td img {
  max-width: 300px;
}
table.invoice tr.header td h2 {
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 2rem;
  color: #1779ba;
}
table.invoice tr.intro td:nth-child(2) {
  text-align: right;
}
table.invoice tr.details > td {
  padding-top: 4rem;
  padding-bottom: 0;
}
table.invoice tr.details td.id,
table.invoice tr.details td.qty,
table.invoice tr.details th.id,
table.invoice tr.details th.qty {
  text-align: center;
}
table.invoice tr.details td:last-child,
table.invoice tr.details th:last-child {
  text-align: right;
}
table.invoice tr.details table thead,
table.invoice tr.details table tbody {
  position: relative;
}
table.invoice tr.details table thead:after,
table.invoice tr.details table tbody:after {
  content: "";
  height: 1px;
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: -1px;
  background: #c8c3be;
}
table.invoice tr.totals td {
  padding-top: 0;
}
table.invoice tr.totals table tr td {
  padding-top: 0;
  padding-bottom: 0;
}
table.invoice tr.totals table tr td:nth-child(1) {
  font-weight: 500;
}
table.invoice tr.totals table tr td:nth-child(2) {
  text-align: right;
  font-weight: 200;
}
table.invoice tr.totals table tr:nth-last-child(2) td {
  padding-bottom: 0.5em;
}
table.invoice tr.totals table tr:nth-last-child(2) td:last-child {
  position: relative;
}
table.invoice tr.totals table tr:nth-last-child(2) td:last-child:after {
  content: "";
  height: 4px;
  width: 110%;
  border-top: 1px solid #1779ba;
  border-bottom: 1px solid #1779ba;
  position: relative;
  right: 0;
  bottom: -0.575rem;
  display: block;
}
table.invoice tr.totals table tr.total td {
  font-size: 1.2em;
  padding-top: 0.5em;
  font-weight: 700;
}
table.invoice tr.totals table tr.total td:last-child {
  font-weight: 700;
}

/* Additional Info */
.additional-info h5 {
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #1779ba;
}
.additional-info {
  margin-top: 20px;
}
.info-columns {
  display: flex;
  flex-wrap: wrap;
}
.info-columns .column {
  flex: 1;
  padding: 10px;
  min-width: 250px;
}

/* Miscellaneous */
.bold-text {
  font-weight: bold;
}
.text-end {
  text-align: right;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .columns {
    flex-direction: row;
  }
  .inner-container {
    padding: 10px;
  }
  .invoice-container {
    padding: 10px;
  }
  .additional-info {
    margin-top: 10px;
  }
  .info-columns .column {
    min-width: 100%;
    padding: 5px;
  }
}

.only-print {
  display: none;
}

/* Hide elements during print */
@media print {
  header,
  .no-print {
    display: none !important;
  }

  .main-content {
    margin-top: 0px !important;
  }

  .p-1,
  .p-2,
  .p-3,
  .p-4,
  .p-5 {
    padding: 0 !important;
    text-align: left;
  }
  .only-print {
    display: block;
  }
  .pb-5 {
    padding: 0 !important;
  }

  .main .inner-container {
    width: 100% !important;
    min-width: 800px;
    /* margin-top: -20px; */
    /* padding: 0; */
  }

  .m-5 {
    margin: 0 !important;
  }

  .container {
    padding: 0 !important;
    margin: 0;
  }

  .info-columns table tr td {
    text-align: left;
  }
  .printable-container {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* display: block !important; */
  }
}

/* ------------------------------------------ */
/*               Expolre Section       */
/* ------------------------------------------ */

.scroll-content-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 10px;
  max-width: 100%;
  padding: 10px 0;
  scrollbar-width: thin;
  scrollbar-color: #9c9c9c #f1f1f1;
}

.scroll-content-container::-webkit-scrollbar {
  height: 5px;
}

.scroll-content-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scroll-content-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.scroll-content-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.card-content-explore {
  flex: 0 0 auto;
  width: 170px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
  overflow: hidden;
  position: relative;
  display: block;
}

.card-img-top-content-explore {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.card-body {
  padding: 10px;
  text-align: center;
}

.card-body p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
}

.btn-study-materials {
  background-color: rgb(209, 216, 255);
  border: none !important;
  padding: 10px 20px;
  transition: transform 0.3s ease-in-out !important;
}
.btn-study-materials:hover {
  background-color: var(--yellow) !important;
  color: white !important;
  transform: scale(1.09);
}
.btn-study-materials.active {
  background-color: var(--yellow) !important;
  color: white !important;
}
.btn-study-materials img {
  margin-right: 10px;
}

.content-explore-offer {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 3;
  font-size: 10px;
}

.content-explore-offer .free,
.content-explore-offer .email {
  color: rgb(255, 255, 255);
  font-size: 10px;
}

.content-explore-offer .icon {
  background-color: #555;
  border-radius: 50%;
  padding: 2px;
}

/* content open */
.content-open-options {
  background-color: rgb(209, 216, 255);
  border: none;
  padding: 5px 10px;
  border-radius: 20px;
}
.content-open-options:hover {
  background-color: rgb(187, 197, 255);
}

.content-open-options-like {
  background-color: transparent;
  border: none;
}

.divider {
  border: 1px solid #000000;
  margin: 0 10px;
}

.side-content {
  box-shadow: 1px 1px 5px #000000;
  margin: 10px 0;
}

.side-content header {
  background-color: var(--theme-color);
  padding: 10px 15px;
  color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.side-content article {
  max-height: 500px;
  overflow: auto;
}

.side-content article .material-item {
  padding: 10px 15px;
  border-bottom: 1px solid rgb(197, 197, 197);
  transition: background-color 0.3s ease;
  color: #000000;
}

.side-content article .material-item:hover {
  background-color: #f0f0f0;
  color: #555;
}

/* ------------------------------------------ */
/*               Class Section       */
/* ------------------------------------------ */

.class-section {
  position: relative;
  width: 100%;
  min-height: 450px;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}
.class-section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://res.cloudinary.com/dgf9aqq8o/image/upload/v1728667808/class-bg_ogketm.jpg?cache-control=max-age=31536000")
    center/cover no-repeat;
  z-index: 1;
}
.class-section:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255 255 255 / 81%);
  z-index: 2;
}
.class-section .class-content {
  position: relative;
  z-index: 3;
  min-height: 100vh;
}
.content-12 {
  font-size: 14px;
  color: #000000;
}
.content-12 ul {
  padding-left: 20px;
}
.content-12 ul li {
  position: relative;
  padding-left: 20px;
}
.content-12 ul li::before {
  content: "✔";
  color: #28a745;
  position: absolute;
  left: 0;
  font-weight: 600;
}
.content-12 h5,
.content-12 h4,
.content-12 h3 {
  color: var(--theme-color);
}
/* ================================================================= */
.pricing-class-section {
  padding: 50px 0 0 0;
}
.pricing-class-title {
  margin-bottom: 30px;
}
.pricing-class-row {
  align-items: center;
  justify-content: center;
}
.pricing-class-col {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.pricing-class-item {
  display: flex;
  gap: 20px;
}
.pricing-class-img-section {
  background-size: contain;
  background-repeat: no-repeat;
  padding: 50px;
}
.pricing-class-item-title {
  font-size: 1rem;
  font-weight: bold;
}
.pricing-class-item-text {
  color: #b8b8b8;
  font-size: 0.8rem;
}
.pricing-class-video {
  border-radius: 27px;
}
@media (max-width: 768px) {
  .pricing-class-img-section {
    display: none;
  }
}
/* =======================free class============================ */
#free-class h1 {
  font-weight: 400;
  text-align: center;
}
#free-class .free-class-image-background {
  width: 248px;
  height: 360px;
  background-color: rgb(252, 244, 228);
  border-radius: 1.5rem;
  transform-origin: left bottom;
  transition: all 0.5s ease 0s;
  position: absolute;
}
#free-class .free-class-image {
  position: absolute;
  transform-origin: left bottom;
  transition: all 0.3s ease 0s;
}
.free-class-image {
  width: 248px;
  height: 360px;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}
@media (max-width: 768px) {
  #free-class .row {
    flex-direction: column-reverse;
  }
}
/* =======================time-line======================= */
.timeline-dot {
  background-color: #eaeaea;
  padding: 4px 7px !important;
  border-radius: 50%;
  color: #464646;
}
/* =============================Partner======================== */
#class-partner {
  width: 100% !important;
  padding: 50px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
/* ===========================Award================================ */
#class-award {
  background-image: url("https://res.cloudinary.com/dgf9aqq8o/image/upload/v1728667806/award-bg_pk5uhp.webp");
  width: 100%;
  padding: 50px 0;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background-position: top center;
}
#class-award .class-award-image {
  position: absolute;
  width: 80px;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}
#class-award .class-award-content {
  position: relative;
  z-index: 1;
}
#class-award .class-award-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}
#class-award .class-award-description {
  color: #fc6602;
  font-size: 1.2rem;
}
#class-award .container {
  position: relative;
  z-index: 1;
}
.award-card {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease;
}
.award-card:hover {
  transform: translateY(-5px);
}
.award-card img {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 10px;
  max-width: 60px;
  height: auto;
  object-fit: contain;
}
.award-card .award-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
}
.award-card .award-text {
  font-size: 1rem;
  color: #555555;
  margin-top: 10px;
}

:where(.css-dev-only-do-not-override-m4timi).ant-drawer .ant-drawer-body {
  padding: 0;
}

.payment-screen {
  background-image: url("https://res.cloudinary.com/dgf9aqq8o/image/upload/v1728667834/top-header_xawmme.png");
  height: 150px;
  width: 100%;
}

.payment-input {
  position: relative;
  margin-top: -80px;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .payment-input {
    margin-top: 0;
  }
  .row-reverse {
    flex-direction: column-reverse;
  }
}

.price-main-container.big-screen {
  display: block;
}
.price-main-container.small-screen {
  display: none;
}
.price-main-container {
  max-width: 1200px;
}
.price-table {
  margin: 0 30px;
  background-color: #f7f7fa;
  border-radius: 20px;
  padding: 20px 20px 70px 20px;
}
.table > :not(caption) > * > * {
  padding: 13px !important;
}
table {
  width: 100%;
  text-align: left;
  border-spacing: 0;
  border-collapse: collapse;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
th,
td {
  font-family: inherit;
  font-size: 0.95em;
  line-height: 1.45;
  vertical-align: middle;
}
th {
  font-weight: 600;
}
.colgroup:nth-child(1) {
  width: 28%;
}
.colgroup:nth-child(2) {
  width: 18%;
  background-color: white !important;
}
.colgroup:nth-child(3) {
  width: 18%;
  border: 3px solid #e0810d;
  border-radius: 20px;
  background-color: var(--pre) !important;
}
/* Tablehead */
thead th {
  text-align: center;
  font-weight: 400;
}
thead th:nth-child(3) {
  background-color: var(--pre);
}
thead th h2 {
  font-weight: bold;
  line-height: 1.2;
}
/* Tablebody */
tbody td {
  text-align: center;
}
thead th,
tbody th,
tbody td {
  border-bottom: 1px solid #ebebeb88;
  background-color: transparent !important;
  background: transparent;
  /* padding: 25px; */
}
/* tbody td:nth-child(3) {
  background-color: var(--pre) !important;
} */
/* price image */
.price-main-container .sampling-image {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  justify-items: center;
  margin-top: -50px;
}
.price-main-container .sampling-image div {
  max-width: 170px;
}
.price-main-container .sampling-image img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: contain;
  border: 10px solid white;
}
.price-main-container .sampling-image p {
  padding: 0;
  margin: 0;
  text-align: center;
}
.price-main-container .sampling-image .price-title {
  font-weight: 800;
  font-size: 15px;
}
.price-main-container .sampling-image .price-desc {
  font-weight: 500;
  font-size: 13px;
}
@media (max-width: 800px) {
  .price-main-container.big-screen {
    display: none;
  }
  .price-main-container.small-screen {
    display: block;
  }
}
.price-offerings {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.price-offerings.open {
  max-height: 1000px; /* Adjust based on the expected height */
  transition: max-height 0.3s ease-in;
}
.bg-mobile-offering {
  background-color: #f7f7fa;
}

/* ====================================plans=================================== */

#price-plan .info-text {
  font-size: 1.2rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

/* Table */
#price-plan .price-table {
  background-color: var(--theme-color);
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid var(--theme-color);
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.263); */
}

#price-plan .plan-header {
  color: #000000;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  /* padding: 15px 10px; */
  transition: background-color 0.3s;
}

#price-plan .plan-header.active {
  /* background-color: #0056b3; */
  background-color: var(--theme-color) !important;
  color: #ffffff;
}

#price-plan .plan-header:hover {
  background-color: var(--theme-color) !important;
  color: #ffffff;
}

#price-plan .plan-detail {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  margin: 0;
}

#price-plan .plan-price {
  font-size: 1.2rem;
  color: #555;
  margin: 0;
  padding: 10px 0;
}

#price-plan tbody {
  background-color: var(--pre);
}

#price-plan tbody tr {
  border-top: 1px solid #dee2e6;
}

#price-plan tbody td {
  text-align: center;
  padding: 15px 10px;
}

/* Responsive */
@media (max-width: 768px) {
  #price-plan .price-table {
    font-size: 0.9rem;
  }

  #price-plan .plan-header {
    font-size: 1rem;
  }

  #price-plan .plan-detail,
  #price-plan .plan-price {
    font-size: 0.9rem;
  }
}

.cursor-pointer {
  cursor: pointer;
}

/* youtube.css */

.progress-bar-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #ddd;
}

.progress-bar {
  height: 100%;
  background-color: #007bff;
  transition: width 0.1s linear;
}

.image-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .image-overlay {
  opacity: 1;
}

.youtube-icon {
  color: #ff0000;
  font-size: 3rem;
}

/*header section*/
.hero_area {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.hero_area .hero-area-bg-color {
  background: rgba(24, 29, 56, 0.722);
}

.bg-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000df;
  background-image: url("https://res.cloudinary.com/dgf9aqq8o/image/upload/v1728667864/girl_gkrjbc.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 1;
  z-index: 1;
  background-position: top center;
}

.bg-box video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 1;
  z-index: 1;
}

.sub_page .hero_area {
  min-height: auto;
}

.sub_page .hero_area .bg-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sub_page .hero_area .bg-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: right top;
  object-position: right top;
}

.header_section {
  padding: 15px 0;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-brand {
  font-family: "Dancing Script", cursive;
}

.navbar-brand span {
  font-weight: bold;
  font-size: 32px;
  color: #ffffff;
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-nav {
  padding-left: 18%;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 5px 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link,
.custom_nav-container .navbar-nav .nav-item.active .nav-link {
  color: #ffbe33;
}

.custom_nav-container .nav_search-btn {
  width: auto;
  height: auto;
  padding: 0;
  border: none;
  color: #ffffff;
  margin: 0 10px;
}

.custom_nav-container .nav_search-btn:hover {
  color: #ffbe33;
}

.user_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.user_option a {
  margin: 0 10px;
}

.user_option .user_link {
  color: #ffffff;
}

.user_option .user_link:hover {
  color: #ffbe33;
}

.user_option .cart_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.user_option .cart_link svg {
  width: 17px;
  height: auto;
  fill: #ffffff;
  margin-bottom: 2px;
}

.user_option .cart_link:hover svg {
  fill: #ffbe33;
}

.user_option .order_online {
  display: inline-block;
  padding: 8px 30px;
  background-color: #ffbe33;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.user_option .order_online:hover {
  background-color: #e69c00;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before,
.custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before,
.custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: start;
  position: relative;
  padding: 45px 0 75px 0;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box {
  color: #000000;
  margin-bottom: 145px;
}

.slider_section .detail-box h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.slider_section .detail-box p {
  font-size: 14px;
}

.slider_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #ffbe33;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 10px;
}

.slider_section .detail-box a:hover {
  background-color: #e69c00;
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .carousel-indicators {
  position: absolute;
  margin: 0;
  left: 10%;
  top: 60%;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider_section .carousel-indicators li {
  background-color: #ffffff;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  opacity: 1;
}

.slider_section .carousel-indicators li.active {
  width: 20px;
  height: 20px;
  background-color: #ffbe33;
}

.hero-title {
  font-size: clamp(30px, 5vw, 60px) !important;
}

.horizontal-line {
  background-color: var(--theme-color);
  height: 15px;
}

.side-blog-container {
  background-color: #f9f9f9;
  border-radius: 8px;
  max-height: 600px;
  overflow-y: auto;
}

.side-blog {
  margin-bottom: 1rem;
  padding: .3rem 1rem;
}

.side-blog:hover {
  color: #ffffff !important;
  background-color: var(--theme-color);
}

.side-blog:hover h5,
.side-blog:hover p {
  color: #ffffff !important;
}

.side-blog img {
  border-radius: 4px;
}

.side-blog h5 {
  font-size: 1.1rem;
  color: #333;
}

.side-blog p {
  font-size: 0.9rem;
  color: #666;
}

.theme-bg {
  background-color: var(--theme-color);
  color: white;
}

.side-container-main {
  border: 3px solid var(--theme-color);
}

.description-trim {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
