.t-card {
  padding: 1.8125rem 1.125rem;
  background-color: var(--theme-color);
  border-radius: 1.25rem;
  color: #fff;
  height: auto;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 3.5625rem solid transparent;
  border-right: 3.5625rem solid transparent;
  border-top: 3.25rem solid var(--theme-color);
}
.mentors-details-in-scroll-containe {
  display: flex;
  justify-content: space-around;
}
#mentors-list-content table tbody tr td {
  background-color: transparent !important;
  color: aliceblue;
}
#mentors-list-content table tbody tr td:nth-child(2),
#mentors-list-content table tbody tr td:nth-child(1) {
  border-right: 1px solid #fff;
}

/* =========================== */

/* styles.css */

.mentor-image-container {
  height: 300px;
  width: 300px;
}

.mentor-image-container img {
  aspect-ratio: 1/1;
  object-fit: contain;
  box-shadow: none;
}

.mentor-image {
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  filter: drop-shadow(0 0 5px rgba(72, 6, 6, 0.7));
}

@keyframes blink {
  0% {
    filter: drop-shadow(0 0 5px rgba(0, 0, 120, 0.586));
  }
  50% {
    filter: drop-shadow(0 0 15px rgba(30, 0, 113, 0.9));
  }
  100% {
    filter: drop-shadow(0 0 5px rgba(0, 18, 118, 0.7));
  }
}

.blink {
  animation: blink 1.5s infinite;
}


#mentors-list-content {
  overflow: hidden; 
}