.admin-panel-content-main {
  background: #eef0f6 !important;
  /* padding: 24px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
}

/* .logo img {
  transition: all 0.3s;
  max-width: 100%;
} */
