:where(.css-dev-only-do-not-override-m4timi).ant-drawer .ant-drawer-body {
  padding: 0;
}

.payment-screen {
  background-image: url("admin/top-header.png");
  height: 150px;
  width: 100%;
}


.payment-input{
    position: relative;
    padding: 0 23px 23px 23px;
    margin-top: -80px;
}