:where(.css-dev-only-do-not-override-m4timi).ant-drawer .ant-drawer-body {
    padding: 0;
  }
  
  .payment-screen {
    background-image: url("/admin/top-header.png");
    height: 150px;
    width: 100%;
  }
  
  .payment-input {
    position: relative;
    margin-top: -80px;
  }
  
  /* Media query for mobile devices */
  @media (max-width: 768px) {
    .payment-input {
      margin-top: 0;
    }
    .row-reverse {
      flex-direction: column-reverse;
    }
  }
  